/*Header*/
header {
    text-align: center;
}
/*Body*/
main {
    display: flex;
    align-items: center;
}
/*if you want centered flex boxes*/
.page {
    flex: 1;
    height: 90%;
    text-align: center;
    margin: 5px 10px;
    width: 0;
}

aside {
    padding: 48px;
}
/*form*/
form {
    background: thistle;
    padding: 12px;
}

h3 {
    margin: 1px;
}
/*Count And Reset Button*/
.form-button-container {
    margin-top: 15px;
    margin-bottom: 16px;
}

.button {
    height: 24px;
    border: none;
    border-radius: 3px;
    border-radius: 5px;
}

#count:hover {
    background-color: #32CD32; /* Green */
    border: none;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.bg-count {
    background-color: antiquewhite;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#reset:hover {
    background-color: #9b0000;
    border: none;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   margin: 4px 2px;
    cursor: pointer;
   -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.bg-reset {
    background-color: rgb(245, 53, 53);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/*Table Input*/
input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
}
/*BMI chart table*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    border: 1px black;
    gap: 1px;
}

.grid-container > div {
    background-color: #f2f2f2;
    border: 1px solid black;
}

@media only screen and (max-width: 770px){
    main {
        display: flex;
        flex-direction: column;
        background-color: #E1E9E5;
    }

    .page {
        text-align: center;
        margin: 5px 10px;
        width: auto;
    }
}